<% include ../partials/header %>
    <form id='register' class='full' action='/auth/register' method='POST'>
      <div class='fields'>
        <div>
          <label>Username:</label>
          <input type='text' required name='username' />
        </div>
        <div>
          <label>Password:</label>
          <input type='password' required name='password' />
        </div>
      </div>
      <div class='fields'>
      <div>
        <label>Full Name:</label>
        <input type='text' required name='name' />
      </div>
      <div>
        <label>Email:</label>
        <input type='text' required name='email' />
      </div>
      </div>
      <div class='fields'>
        <label>Base Location:</label>
        <input type='text' required name='baselocation' value='<%= (location) ? location[0].formatted_address : '' %>' placeholder='Please enter your default location.' />
        </div>
      <div>
        <input type='submit' value='Register' />
      </div>
    </form>
    <script>
      let userLocation = '<%= (location) ? `${location[0].formatted_address}` : `no` %>';
      let latLng = '<%= (latLng) ? latLng : 'no' %>';
    </script>
    <script src='../javascripts/registerHelper.js'></script>
<% include ../partials/footer %>