<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1">
    <title>Skycast | <%= title.toUpperCase() %></title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://use.fontawesome.com/d41e1f89a6.js"></script>
    
  </head>
  <body>
    <% include ./nav %>
    <div class='container <%= currentRoute %>'>
      <div class='wrapper'>