<nav>
  <div class='logo'>
    <a href='/'><h1>Skycast</h1></a>
  </div>
  <div class='navigation'>
    <ul class='navlist'>
      <li><a href='/dashboard'><i class='fa fa-tachometer fa-fw'></i> Dashboard</a></li>
      <li><a href='/dashboard/search'><i class='fa fa-search fa-fw'></i></i>Search</a></li>
    </ul>
  </div>
</nav>