<% include ./partials/header %>
<div class='wrapper'>
    <div class='herotext'>
        <h3>Welcome to <span class='p2u'>skycast</span>.</h3>
        <p>Join us and catch your sky.</p>
        <div class='herobtn'>
            <a href='/auth/login'>Log in</a>
            <a href='/auth/register'>Register</a>
        </div>
    </div>
    <div id='ifresults'>
        <p>Forecast goes here.</p>
    </div>
</div>
   <%// <script src='/javascripts/locationHelpers.js'></script> %>
<% include ./partials/footer %>
