<% include ./partials/header %>
    <div id='demo'>
      <form id='test'>
        <input type='text' name='coords' id='coordinput' />
        <input type='submit' value='ok' />
      </form>
      
    </div>
<% include ./partials/footer %>
