<% include ./partials/header %>
<div class='wrapper'>
    <div class='herotext'>
        <h3>Welcome to <span class='p2u'>skycast</span>.</h3>
        <p>Join us and catch your sky.</p>
        <div class='herobtn'>
            <a href='/auth/login'>Log in</a>
            <a href='/auth/register'>Register</a>
        </div>
    </div>
    <div class='indexforecast'>
        <div id='intro'>
            <h3>Allow us to track your location to instantly see the weather.</h3>
        </div>
        <div id='loader' class='hdn'>
            <i class='fa fa-spin fa-4x fa-circle-o-notch'></i>
        </div>
        <div id='ifresults'>
        </div>
    </div>
</div>
    <script src='/javascripts/locationHelpers.js'></script> 
<% include ./partials/footer %>
