<% include ../partials/header %>
<div class='top'>
    <h1>Welcome, <%= user.name %>.</h1>
    <h3 class='baselocation'>Your location is set as <%= (prettyLocation !== undefined) ? prettyLocation : user.prettyLocation %></h3>
</div>

<div class='wrapper'>
    <% include ../partials/forecast %>
</div>
<% include ../partials/footer %>