/* ============== VARIABLES */
/* fonts */
.p2u {
  font-family: "p22-underground", "monserrat", sans-serif;
  font-weight: 800; }

.tbg {
  font-family: "tablet-gothic", "franklin-gothic", "helvetica", sans-serif; }

.kcd {
  font-family: "kings-caslon-display", "caslon", "minion", "garamond", "georgia", sans-serif; }

/* colors */
/* ============= INCLUDES CLASSES */
.base-button, .full input[type=submit] {
  font-size: 1.8em;
  margin: 20px;
  padding: 5px 40px;
  color: black;
  font-family: "kings-caslon-display", "caslon", "minion", "garamond", "georgia", sans-serif;
  border: 3px solid #000;
  cursor: pointer;
  transition: 0.5s all; }
  .base-button:hover, .full input[type=submit]:hover {
    background-color: rgba(255, 204, 75, 0.3);
    transition: 0.5s all; }

.hdn {
  display: none; }

b {
  font-weight: 800; }

.logo-shadow {
  text-shadow: 2px 2px 0 #A1BF83, -2px -2px 0 #A1BF83, 2px 0 0 #A1BF83, 0 2px 0 #A1BF83, -2px 0 #A1BF83, 0 -2px #A1BF83; }

/* ==================== MIXINS */
/* =====++++++======++++++======+++++++ */
/* ========== GENERAL BODY ============= */
/* =====++++++======++++++======+++++++ */
body {
  font-family: "tablet-gothic", "franklin-gothic", "helvetica", sans-serif;
  background-image: url("../images/bodybg.jpg"); }

a {
  text-decoration: none; }

.container {
  min-height: 80vh;
  display: flex; }

/* ======================= FORMS */
.full {
  width: 50vw;
  border: 3px solid #000;
  padding: 50px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2); }
  .full input[type=text], .full input[type=password], .full textarea {
    border-bottom: 3px solid #19AAD1;
    font-size: 1.5em;
    display: block;
    margin: 20px 0;
    padding: 5px;
    width: 100%;
    transition: 0.2s all; }
    .full input[type=text]:focus, .full input[type=password]:focus, .full textarea:focus {
      border-color: #FFCC4B;
      transition: 0.2s all;
      outline: 0; }
    .full input[type=text]::-webkit-input-placeholder, .full input[type=password]::-webkit-input-placeholder, .full textarea::-webkit-input-placeholder {
      color: #333;
      font-style: oblique; }
  .full label {
    color: black;
    font-size: 0.8em;
    text-transform: uppercase; }
  .full .fields {
    display: flex;
    text-align: left; }
    .full .fields div {
      margin: 15px;
      flex: 1;
      flex-direction: column;
      display: flex; }
    @media screen and (max-width: 1000px) {
      .full .fields {
        flex-direction: column; } }
  .full select {
    font-size: 1.5em;
    flex: 1;
    padding: 0 25px; }
    .full select option {
      font-size: 1rem; }

/* ==================== NAVIGATION */
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10vw; }
  @media screen and (min-width: 1000px) {
    nav {
      flex-direction: row; } }
  nav .logo a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    display: flex;
    align-items: center; }
    nav .logo a img {
      max-height: 5em;
      margin-left: -28px;
      z-index: 1; }
    nav .logo a h1 {
      font-size: 3em;
      line-height: 1.2em;
      font-family: "p22-underground", "monserrat", sans-serif;
      z-index: 5;
      text-shadow: 2px 2px #A1BF83, -2px -2px #A1BF83, 2px 0 #A1BF83, 0 2px #A1BF83, -2px 0 #A1BF83, 0 -2px #A1BF83; }
  nav .navlist li {
    display: flex;
    transition: 0.5s all; }
    nav .navlist li:hover {
      background-color: rgba(255, 204, 75, 0.3);
      transition: 0.5s all; }
    @media screen and (min-width: 1000px) {
      nav .navlist li {
        display: inline-block;
        line-height: 4em; } }
    nav .navlist li a {
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
      padding: 5px; }
      @media screen and (min-width: 1000px) {
        nav .navlist li a {
          padding: 15px; } }

/* ============= FOOTER */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px; }
  footer img {
    max-height: 50px;
    margin-right: -30px; }
  footer h1 {
    font-size: 2em;
    text-shadow: 1px 1px #19AAD1, -1px -1px #19AAD1, 1px 0 #19AAD1, 0 1px #19AAD1, -1px 0 #19AAD1, 0 -1px #19AAD1; }

/* =====++++++======++++++======+++++++ */
/* ++++++=====+++++PER PAGE ++++=========*/
/* =====++++++======++++++======+++++++ */
/*=============== INDEX */
.index .wrapper {
  display: flex;
  flex: 1;
  flex-direction: column; }
  .index .wrapper .herotext {
    flex: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; }
    .index .wrapper .herotext h3 {
      font-size: 3em;
      font-family: "kings-caslon-display", "caslon", "minion", "garamond", "georgia", sans-serif;
      line-height: 1.5em; }
    .index .wrapper .herotext p {
      font-style: oblique;
      font-size: 1.3em; }
    .index .wrapper .herotext .herobtn {
      padding: 50px 0 0; }
      .index .wrapper .herotext .herobtn a {
        display: inline-block;
        line-height: 3em;
        margin: 0 10px;
        padding: 0 50px;
        border: 3px solid black;
        transition: 0.5s all;
        color: black;
        font-family: "kings-caslon-display", "caslon", "minion", "garamond", "georgia", sans-serif;
        font-size: 1.3em; }
        .index .wrapper .herotext .herobtn a:hover {
          background-color: rgba(100, 207, 236, 0.3);
          transition: 0.5s all; }
  .index .wrapper .indexforecast {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    justify-content: space-between; }
    .index .wrapper .indexforecast h3 {
      font-size: 2em;
      font-family: "kings-caslon-display", "caslon", "minion", "garamond", "georgia", sans-serif; }
    .index .wrapper .indexforecast p {
      text-transform: uppercase;
      margin-bottom: 25px; }

/* =============== AUTH */
.auth .wrapper {
  width: 80vw;
  margin: 120px auto; }

/* ============= DASH */
.dashboard {
  flex-direction: column; }
  .dashboard .wrapper {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 30px -10px #2f3a76;
    box-sizing: border-box;
    width: 80vw;
    margin: 50px auto 0; }
  .dashboard .top {
    width: 70vw;
    margin: 20px auto; }
    .dashboard .top h1 {
      font-family: "kings-caslon-display", "caslon", "minion", "garamond", "georgia", sans-serif;
      text-transform: capitalize;
      font-size: 3em; }
    .dashboard .top .baselocation {
      margin-left: 30px;
      font-weight: bold;
      font-size: 0.8em;
      text-transform: uppercase; }

/* =================== FORECAST */
.forecast {
  display: flex;
  flex: 1;
  flex-direction: column; }
  .forecast .metrics {
    display: flex;
    flex: 1;
    justify-content: space-between; }
    @media screen and (max-width: 1000px) {
      .forecast .metrics {
        flex-direction: column; } }
    .forecast .metrics div {
      padding: 20px 0;
      flex: 1;
      text-align: center;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc; }
      .forecast .metrics div:last-of-type {
        border-right: 0px; }
  .forecast .summary {
    padding: 8vw 8vw 4vw;
    display: flex;
    align-items: center; }
    .forecast .summary div {
      padding-left: 4vw; }
      .forecast .summary div h2 {
        font-size: 2em; }
  .forecast .weekly {
    border-top: 1px solid #ccc;
    padding: 4vw 8vw 8vw;
    display: flex;
    flex-direction: column; }
    .forecast .weekly h3 {
      font-size: 1.5em;
      text-align: center; }
    .forecast .weekly .eachday {
      display: flex;
      flex-direction: row;
      margin-top: 25px; }
      .forecast .weekly .eachday li {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 5px;
        border: 1px solid #ccc; }
        @media screen and (max-width: 1000px) {
          .forecast .weekly .eachday li {
            flex-direction: row; } }
        .forecast .weekly .eachday li h5 {
          border-bottom: 1px solid #ccc;
          text-align: center;
          padding: 15px; }
        .forecast .weekly .eachday li .wk-summary {
          flex-direction: column;
          padding: 20px;
          text-align: center;
          line-height: 1.3em; }
          .forecast .weekly .eachday li .wk-summary h4 {
            font-size: 1.3em;
            margin: 15px 0; }

/* ===== search */
h3.results {
  font-size: 3em;
  font-family: "kings-caslon-display", "caslon", "minion", "garamond", "georgia", sans-serif; }

/*# sourceMappingURL=style.css.map */