/* ============== VARIABLES */
$pencilbrdr: 3px solid #000;
$thinbrdr: 1px solid #ccc;

/* fonts */
$p2u: "p22-underground", 'monserrat', sans-serif;
.p2u {font-family: $p2u; font-weight: 800;}
$tbg: "tablet-gothic", 'franklin-gothic', 'helvetica', sans-serif;
.tbg {font-family: $tbg;}
$kcd: 'kings-caslon-display', 'caslon', 'minion', 'garamond', 'georgia', sans-serif;
.kcd{font-family: $kcd;}

/* colors */
$blu: #19AAD1;
$ylw: #FFCC4B;
$grn: #A1BF83;
$blu-lt: lighten($blu, 20);
$blu-dkr: #12162D;
$blu-mid: lighten($blu-dkr, 20);

/* ============= INCLUDES CLASSES */

.base-button {
    font-size: 1.8em;
    margin: 20px;
    padding: 5px 40px;
    color: black;
    font-family: $kcd;
    border: $pencilbrdr;
    cursor: pointer;
    transition: 0.5s all;

    &:hover {
      background-color: rgba($ylw, 0.3);
      transition: 0.5s all;
    }
}

.hdn {
  display: none;
}

b {
  font-weight: 800;
}

.logo-shadow {
  text-shadow: 2px 2px 0 $grn, -2px -2px 0 $grn, 2px 0 0 $grn, 0 2px 0 $grn, -2px 0 $grn, 0 -2px $grn;
}

/* ==================== MIXINS */

@mixin logo-shadow($color, $width) {
  text-shadow: $width $width $color, (-$width) (-$width) $color, $width 0 $color, 0 $width $color, (-$width) 0 $color, 0 (-$width) $color;
}

/* =====++++++======++++++======+++++++ */
/* ========== GENERAL BODY ============= */
/* =====++++++======++++++======+++++++ */

body {
  font-family: $tbg;
  background-image: url('../images/bodybg.jpg');
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

.container {
  min-height: 80vh;
  display: flex;
}


/* ======================= FORMS */

.full {
  input[type=text], input[type=password], textarea {
    border-bottom: 3px solid $blu;
    font-size: 1.5em;
    display: block;
    margin: 20px 0;
    padding: 5px;
    width: 100%;
    transition: 0.2s all;
    &:focus {
      border-color: $ylw;
      transition: 0.2s all;
      outline:0;
    }
    &::-webkit-input-placeholder {
      color: #333;
      font-style: oblique;
    }
  }
  width: 50vw;
  border: $pencilbrdr;
  padding: 50px;
  margin: 50px auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align: center;
  background-color: rgba(white, 0.2);
  label {
    color: black;
    font-size: 0.8em;
    text-transform: uppercase;
  }
  input[type=submit] {
  @extend .base-button;
  }
  .fields {
    display: flex;
    text-align:left;
    div {
      margin: 15px;
      flex: 1;
      flex-direction: column;
      display: flex;
    }
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }
  
  select {
    font-size: 1.5em;
    flex: 1;
    padding: 0 25px;
    
    option {
      font-size: 1rem;
    }
  }
}





/* ==================== NAVIGATION */

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10vw;
  @media screen and (min-width: 1000px) {
    flex-direction: row;
  }
  .logo {
    a {
      text-decoration: none;
      color: black;
      font-weight: 800;
      display: flex;
      align-items: center;
      img {
        max-height: 5em;
        margin-left: -28px;
        z-index: 1;
      }
      h1 {
        font-size: 3em;
        line-height: 1.2em;
        font-family: $p2u;
        z-index: 5;
        @include logo-shadow($grn, 2px); 
      }
    }
  }
  .navlist {
    li {
      display: flex;
      transition: 0.5s all;
      &:hover {
        background-color: rgba($ylw, 0.3);
        transition: 0.5s all;
      }
      @media screen and (min-width: 1000px) {
        display: inline-block;
        line-height: 4em;
      }
      a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
        padding: 5px;
        @media screen and (min-width: 1000px) {
          padding: 15px;
        }
      }
    }
  }
}

/* ============= FOOTER */

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
  img {
    max-height: 50px;
    margin-right: -30px;
  }
  h1 {
    font-size: 2em;
    @include logo-shadow($blu, 1px)
  }
}

/* =====++++++======++++++======+++++++ */
/* ++++++=====+++++PER PAGE ++++=========*/
/* =====++++++======++++++======+++++++ */




/*=============== INDEX */

.index .wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  .herotext {
    flex: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    h3 {
      font-size: 3em;
      font-family: $kcd;
      line-height: 1.5em;
    }
    p {
      font-style: oblique;
      font-size: 1.3em;
    }
    .herobtn {
      padding: 50px 0 0;
      a {
        display: inline-block;
        line-height: 3em;
        margin: 0 10px;
        padding: 0 50px;
        border: 3px solid black;
        transition: 0.5s all;
        color: black;
        font-family: $kcd;
        font-size: 1.3em;
        &:hover {
          background-color: rgba($blu-lt, 0.3);
          transition: 0.5s all;
        }
      }
    }
  }
  .indexforecast {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    h3 {
      font-size: 2em;
      font-family: $kcd;
    }
    p {
      text-transform: uppercase;
      margin-bottom: 25px;
    }
  }
}

/* =============== AUTH */

.auth .wrapper {
  width: 80vw;
  margin: 120px auto;
}



/* ============= DASH */

.dashboard {
  flex-direction: column;
  .wrapper {
    flex: 1;
    background-color: rgba(white, 0.8);
    box-shadow: 0 0 30px -10px $blu-mid;
    box-sizing:border-box;
    width: 80vw;
    margin: 50px auto 0;
  }
  .top {
    width: 70vw;
    margin: 20px auto;
    h1 {
      font-family: $kcd;
      text-transform: capitalize;
      font-size: 3em;
    }
    .baselocation {
      margin-left: 30px;
      font-weight: bold;
      font-size: 0.8em;
      text-transform: uppercase;
    }
  }
}

/* =================== FORECAST */

.forecast {
  display: flex;
  flex: 1;
  flex-direction: column;
  .metrics {
    display: flex;
    flex: 1;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
    justify-content: space-between;
    div {
      padding: 20px 0;
      flex: 1;
      text-align: center;
      border-right: $thinbrdr;
      border-bottom: $thinbrdr;
      &:last-of-type {
        border-right: 0px;
      }
    }
  }
  .summary {
    padding: 8vw 8vw 4vw;
    display: flex;
    align-items: center;
    div {
      padding-left: 4vw;
      h2 {
        margin-top: 15px;
        font-size: 3em;
        font-family: $kcd;
      }
    }
  }
  .weekly {
    border-top: $thinbrdr;
    padding: 4vw 8vw 8vw;
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 1.5em;
      text-align: center;
    }
    .eachday {
      display: flex;
      flex-direction: row;
      margin-top: 25px;
      li {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1000px) {
          flex-direction: row;
        }
        flex: 1;
        margin: 5px;
        border: $thinbrdr;
        h5 {
          border-bottom: $thinbrdr;
          text-align: center;
          padding: 15px;
        }
        img {
          max-height: 50px;
          max-width: 50px;
        }
        .wk-summary {
          flex-direction: column;
          padding: 20px;
          text-align: center;
          line-height: 1.3em;
          h4 {
            font-size: 1.3em;
            margin: 15px 0;
          }
        }
      }
    }
  }
}

/* ===== search */

h3.results {
  font-size: 3em;
  font-family: $kcd;
}