/* ============== VARIABLES */
/* fonts */
.p2u {
  font-family: "p22-underground", "monserrat", sans-serif;
  font-weight: 800; }

.tbg {
  font-family: "tablet-gothic", "franklin-gothic", "helvetica", sans-serif; }

.kcd {
  font-family: "kings-caslon-display", "caslon", "minion", "garamond", "georgia", sans-serif; }

/* colors */
/* ============= MIXIN CLASSES */
.base-button, .full input[type=submit] {
  font-size: 1.8em;
  margin: 20px;
  padding: 5px 40px;
  background-color: #2f3a76;
  color: #FFCC4B;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s all; }
  .base-button:hover, .full input[type=submit]:hover {
    background-color: #000;
    transition: 0.3s all; }

/* ===================== GENERAL BODY */
body {
  font-family: "tablet-gothic", "franklin-gothic", "helvetica", sans-serif;
  background-image: url("../images/bodybg.jpg"); }

a {
  text-decoration: none; }

.container {
  min-height: 80vh;
  display: flex; }

/* ======================= FORMS */
.full {
  width: 50vw;
  border: 1px solid #eee;
  padding: 50px;
  margin: 0 auto;
  text-align: center; }
  .full input[type=text], .full input[type=password], .full textarea {
    border-bottom: 3px solid #eee;
    font-size: 1.5em;
    display: block;
    margin: 20px 0;
    padding: 5px;
    width: 100%;
    transition: 0.2s all; }
    .full input[type=text]:focus, .full input[type=password]:focus, .full textarea:focus {
      border-color: #ddd;
      transition: 0.2s all;
      outline: 0; }
  .full label {
    color: #ccc;
    font-size: 0.8em;
    text-transform: uppercase; }
  .full .fields {
    display: flex;
    text-align: left; }
    .full .fields div {
      margin: 15px;
      flex: 1;
      flex-direction: column;
      display: flex; }
  .full select {
    font-size: 1.5em;
    flex: 1;
    padding: 0 25px; }
    .full select option {
      font-size: 1rem; }

/* ==================== NAVIGATION */
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10vw; }
  @media screen and (min-width: 1000px) {
    nav {
      flex-direction: row; } }
  nav .logo a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    display: flex;
    align-items: center; }
    nav .logo a img {
      max-height: 5em;
      margin-left: -28px;
      z-index: 1; }
    nav .logo a h1 {
      font-size: 3em;
      line-height: 1.2em;
      font-family: "p22-underground", "monserrat", sans-serif;
      z-index: 5;
      text-shadow: 2px 2px 0 #A1BF83, -2px -2px 0 #A1BF83, 2px 0 0 #A1BF83, 0 2px 0 #A1BF83, -2px 0 #A1BF83, 0 -2px #A1BF83; }
  nav .navlist li {
    display: flex;
    transition: 0.5s all; }
    nav .navlist li:hover {
      background-color: rgba(255, 204, 75, 0.3);
      transition: 0.5s all; }
    @media screen and (min-width: 1000px) {
      nav .navlist li {
        display: inline-block;
        line-height: 4em; } }
    nav .navlist li a {
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
      padding: 5px; }
      @media screen and (min-width: 1000px) {
        nav .navlist li a {
          padding: 15px; } }

/*=============== INDEX */
.index .wrapper {
  display: flex;
  flex: 1;
  flex-direction: column; }
  .index .wrapper .herotext {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; }
    .index .wrapper .herotext h3 {
      font-size: 3em;
      font-family: "kings-caslon-display", "caslon", "minion", "garamond", "georgia", sans-serif;
      line-height: 1.5em; }
    .index .wrapper .herotext p {
      font-style: oblique;
      font-size: 1.3em; }
    .index .wrapper .herotext .herobtn {
      padding: 50px 0 0; }
      .index .wrapper .herotext .herobtn a {
        display: inline-block;
        line-height: 3em;
        margin: 0 10px;
        padding: 0 50px;
        border: 3px solid black;
        transition: 0.5s all;
        color: black;
        font-family: "kings-caslon-display", "caslon", "minion", "garamond", "georgia", sans-serif;
        font-size: 1.3em; }
        .index .wrapper .herotext .herobtn a:hover {
          background-color: rgba(100, 207, 236, 0.3);
          transition: 0.5s all; }
  .index .wrapper #ifresults {
    display: flex;
    flex: 1; }

/* =============== AUTH */
.auth .wrapper {
  width: 80vw;
  margin: 120px auto; }

/* ============= DASH */
.dashboard {
  flex-direction: column; }
  .dashboard .wrapper {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 30px -10px #2f3a76;
    padding: 8vw;
    box-sizing: border-box;
    width: 80vw;
    margin: 150px auto 0; }

/*# sourceMappingURL=style.css.map */