<% include ../partials/header %>
<div class='top'>
    <h1>Search for weather around the world.</h1>
</div>

<div class='wrapper'>
    <form id='searchform' class='full' action='/dashboard/search' method='POST'>
    <div class='fields'>
        <input name='address' required type='text' placeholder='Please type a location here.' />
    </div>
    <div>
        <input type='submit' />
    </div>
    </form>

    <div class='prevsrch'>
        <ul>
            <% if (searches !== undefined) { %>
                <% searches.forEach((search) => { %>
                    <% include ./searchpartials/basesearch %>
            <% }); %>
        <% } %>
        </ul>
    </div>
</div>
<script src='/javascripts/searchHelper.js'></script>
<% include ../partials/footer %>