<% include ../partials/header %>
<div class='top'>
    <h3 class='results'>Results for <%= prettyLocation %></h3>
</div>
<div class='wrapper'>
    <% include ../partials/forecast %>
    </div>
</div>
<% include ../partials/footer %>
