<% include ../partials/header %>
<div class='top'>
    <h3 class='results'>Results for <%= formattedAddress %></h3>
</div>
<div class='wrapper'>
    <% include ../partials/shortforecast %>
    </div>
</div>
<% include ../partials/footer %>