<% include ../partials/header %>

<form class='full' id='timemachine' action='/dashboard/timemachine' method='POST'>
    <div class='fields'>
        <input type='text' name='address' required />
        <input type='date' name='date' required />
    </div>
    <div>
        <input type='submit' value='Search' />
    </div>
</form>

<div class='prevdel'>
    <ul>
        <% if (deloreans !== undefined) { %>
            <% deloreans.forEach((delorean) => { %>
                <% include ./searchpartials/tmchblock %>
           <% }); %>
       <% } %>
    </ul>
</div>

<% include ../partials/footer %>