<li data-location='<%= delorean.location %>' data-time='<%= delorean.dateSearched %>' class='delorean'>
    <h2><%= delorean.location %></h2>
    <span class='label'><%= moment(delorean.dateSearched).format('MMM Do, YYYY') %></span>
</li>